.add-category-page h1 {
   margin-bottom: 40px;
}

.add-category-page div {
   display: flex;
   align-items: center;
   height: 55px;
}

.add-category-page button {
   margin-top: 40px;
}

.add-category-page label {
   display: block;
   width: 200px;
   font-weight: 500;
}

.add-category-page input::placeholder {
   font-family: "Onest", serif !important;
   font-size: 14px;
   font-style: italic;
   color: var(--grey);
}

.add-category-page select,
.add-category-page input {
   width: 500px;
   height: 30px;
   margin: 5px;
   padding-left: 5px;
   font-family: "Onest", serif !important;
   border: 1px solid #ccc;
   border-radius: 4px;
   outline: none;
}

.add-category-page select {
   width: 509px;
   height: 34px;
}
