.banner {
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   margin-left: 10px;
}

h1 {
   color: #333;
   font-size: 24px;
   margin-bottom: 20px;
   justify-content: space-between;
   display: flex;
}

.actionBtn {
   font-weight: bold;
   background-color: var(--primary-color);
   color: var(--white);
   padding: 10px 15px;
   border: 2px solid var(--primary-color);
   border-radius: 8px;
   width: 130px;
   cursor: pointer;
}

.refreshBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 12px;
   height: 32px;
   width: 32px;
   cursor: pointer;
   border-radius: 8px;
   background-color: var(--table-header-color);
   padding: 5px;
}

.refreshIcon {
   color: var(--primary-color);
}

/* Centered pagination styles */
.pagination {
   display: flex;
   justify-content: right;
   align-items: center;
   margin-top: 40px;
}

.paginationSubCont {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.pagination .pageCount {
   font-size: 16px;
   font-style: italic;
   margin: 0px 10px;
   color: var(--grey);
}

.pagination .prev,
.pagination .next {
   font-size: 28px;
   background-color: transparent;
   border: none;
   outline: none;
   border-radius: 2px;
   cursor: pointer;
   color: var(--primary-color);
}

.pagination .prev:hover,
.pagination .next:hover {
   background-color: var(--table-header-color);
}

.pagination .next.disabled,
.pagination .prev.disabled {
   background-color: transparent;
   border: none;
   outline: none;
   cursor: not-allowed;
   color: grey;
}

.pagination .next {
   margin-left: 10px;
}

.pagination .movementIcons {
   display: flex;
   align-items: center;
}

.pagination-top {
   display: flex;
   align-items: center;
   margin: 0 20px;
   /* Space above and below the pagination */
}

.pagination-top .pageNavDrop {
   outline: none;
   border: none;
   width: 40px;
   font-family: "Onest", serif !important;
   background-color: transparent;
   text-align: center;
   font-size: 20px;
   /* padding-right: 5px; */
}

.pagination-top span {
   margin-right: 10px;
}

.table-container {
   /* Space for sidebar */
   overflow-x: auto;
   padding: 20px;
   width: 100%;
   /* Ensure it takes the full width of the container */
   margin-top: 20px;
   border-collapse: collapse;
   margin-bottom: 20px;

   /* Space above the table */
}

.table-container td {
   padding: 12px 15px;
   /* border: 1px solid #ddd; */
   text-align: left;
}

.table-container th {
   font-weight: bold;
   margin-left: 150px;
   color: var(--primary-color);
   padding: 12px 15px;
   text-align: left;
   background-color: var(--table-header-color);
}

.table-container tr:first-child th:first-child {
   border-top-left-radius: 12px;
}

.table-container tr:first-child th:last-child {
   border-top-right-radius: 12px;
}

.tick {
   color: green;
}

.cross {
   color: red;
}
.center {
   text-align: center !important;
}

.action-icon {
   cursor: pointer;
   font-size: 20px;
   color: #333;
   transition: color 0.3s;
}

.action-icon.view {
   margin-right: 14px;
}

.action-icon.edit {
   color: var(--darkGrey);
   margin-right: 14px;
}

.action-icon.delete {
   color: var(--danger-red);
}

.action-icon:hover {
   color: var(--primary-color);
}
