body {
   margin: 0;
   padding: 11px 15px;
   background-color: #f4f4f4;
   font-family: "Onest", serif !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

button {
   font-family: "Onest", serif !important;
}

:root {
   --primary-color: #6c5dd3;
   --secondary-color: #7ac143;
   --tertiary-color: #ff9933;
   --text-color: #000000;
   --white: #ffffff;
   --table-header-color: #eef1ff;
   --table-border-color: #6c5dd380;
   --grey: #a1a1a1;
   --darkGrey: #777777;
   --danger-red: #f2666c;
}
